body#root {
    font-family: 'Lato', sans-serif;
    margin-top: 30px;

    div.root-container {
        &:nth-child(1) {
            margin-bottom: 30px;

            div#name-section {
                h1 {
                    margin-bottom: 5px;

                    span {
                        font-size: 16px;
                        font-weight: normal;
                    }
                }
            }

            div#contact-section {

                div#address {
                    margin-bottom: 30px;
                }
    
                div#contact {
                    div.row {
                        margin: 10px 0 10px 0;
    
                        p, a {
                            margin-left: 5px;
                        }
    
                        svg {
                            vertical-align: middle;
                        }
    
                        &:first-child {
                            margin: 0 0 10px 0;
                        }
    
                        &:last-child {
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            margin-bottom: 30px;

            h2 {
                margin-bottom: 15px;
            }

            div {
                margin-bottom: 30px;

                p.date {
                    margin-bottom: 15px;
                }

                ul {
                    li {
                        margin: 10px 0 10px 0;

                        &:first-child {
                            margin: 0 0 10px 0
                        }

                        &:last-child {
                            margin: 10px 0 0 0;
                        }
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &:nth-child(3) {
            page-break-after: always;

            h2 {
                margin-bottom: 15px;
            }
        }

        &:nth-child(4) {
            margin-top: 30px;
            margin-bottom: 30px;

            h2 {
                margin-bottom: 15px;
            }
        }

        &:nth-child(5) {
            h2 {
                margin-bottom: 15px;
            }

            ul {
                margin: 15px 0 15px 0;
            }

            ul.no-list-style {
                list-style: none;
            }

            ul.list-style-disc {
                list-style: disc;
            }
        }
    }
}

@media screen, print and (max-width: 1025px) {
    div#name-section {
        margin-bottom: 15px;
    }
}